# don't ever format node_modules
node_modules
# don't format build output (make sure it's set to your correct build folder name)
build
# don't format coverage output
coverage
# don't format public folder
public
